.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 12px;
    font-size: 10px;
    font-weight: 700;
    margin: 8px 0;
    color: rgba(0, 0, 0, .35);
    user-select: none;
}

.icon {
    cursor: pointer;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 4px;
    transform: rotate(-90deg);
}

.iconActive {
    transform: rotate(-180deg);
}

.icon:hover {
    background-color: var(--color-hover);
}

.list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}