.container{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.textarea {
    border-radius: var(--border-radius);
    padding: 12px;
    font-size: 14px;
    border: 1px solid #a6a6a6;
    resize: none;
}

.label{
    font-weight: 500;
}