.container{
    display: flex;
    justify-content: space-between;
    padding: 12px;
    border-radius: var(--border-radius);
    border-top: 1px solid #e6e6e6;
}

.container:last-of-type{
    border-bottom: 1px solid hsl(0, 0%, 90%);
}

.container:not(.editable){
    cursor: pointer;
}

.container:not(.editable):hover{
    background-color: #e6e6e6;
}

.actions{
    display: flex;
    gap: 8px;
}

.iconButton {
    cursor: pointer;
}

.titleContainer{
    width: 1000%;
    display: flex;
    align-items: center;
    gap: 4px;
}

.title {
    font-size: 18px;
}